/* order tracking */
.order-tracking-section {
  background: var(--secondary-bg-color);
}
.order-tracking-section .text-input {
  border: 1px solid #3333 !important;
  padding: 8px 5px;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.order-tracking-section .input-label {
  font-weight: 400;
  margin-bottom: 5px;
  color: #333333e0;
  font-size: 0.9rem;
}
.order-tracking-section .text-input:focus-visible {
  outline: unset !important;
}

.order-tracking-section .order-id {
  left: 0;
  padding: 8px 5px;
}
.order-tracking-section .order-input {
  border: 1px solid #3333 !important;
  padding: 8px 5px;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.tracking-details {
  background: var(--primary-bg-color);
  padding: 47px 10px;
}
.approved {
  color: green;
  font-weight: 700;
}

.pending {
  color: #39ace7;
  font-weight: 700;
}
.rejected {
  color: red;
  font-weight: 700;
}
.shifted {
  color: orange;
  font-weight: 700;
}
.delivered {
  color: green;
  font-weight: 700;
}

/* returns section */

.accordion-button:not(.collapsed) {
  color: var(--title-color);
  background-color: #fdfeff;
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 #c8cacd;
}

.accordion-button:focus {
  box-shadow: unset;
  border-color: transparent;
}
.accordion-body {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.accordion-button:not(.collapsed)::after {
  content: '\f068';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  background-image: unset;
  color: #333;
}

.accordion-button::after {
  content: '\2b';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  background-image: unset;
  color: #3333335e;
}

/* IT Services  */

.it-services-section .it-service-box {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  background: var(--secondary-bg-color);
  border-radius: 5px;
  transition: all 0.3s linear;
}
.it-services-section .it-service-box:hover {
  transform: scale(1.03);
}

/* about */

.about-section .about-title {
  color: var(--main-color);
  margin-left: 12px;
  margin-right: 12px;
}

/*  */

Header Styles .header {
  z-index: 99;
  background-color: white;
}
.top-bar-wrapper {
  /* background-color: var(--header-bg); */
  display: block;
  background: #fff;
  padding: 10px 0;
}
.top-bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 0;
}
.top-bar ul li {
  padding: 0 10px;
  border-right: 1px solid #e9313a;
  line-height: 12px;
  position: relative;
}
.top-bar ul li:last-child {
  border-right: none;
}

.top-bar ul {
  margin-bottom: 0;
}
.top-bar ul li a {
  color: #5a6c7d;
  text-decoration: none;
  transition: 0.1s ease-in;
  font-size: 14px;
}
.top-bar ul li a:hover {
  color: black;
}
.dropdown-menu li a {
  color: #fff !important;
  display: block;
  padding: 5px;
}
.funds {
  transition: 0.5s ease-in;
  display: none !important;
  position: absolute;
  background-color: var(--header-bg) !important;
  z-index: 9999;
  /* margin-left: -15px; */
  left: 0;
}
.top-bar ul li:hover .funds,
.fundss {
  display: block !important;
  opacity: 1;
}

.languageIcon {
  font-size: 20px;
}

.funds li {
  border-right: none !important;
  border-bottom: 1px solid white;
}
.funds li:last-child {
  border-bottom: none;
}

.options {
  border-left: 1px solid gray;
}
.search-box:focus {
  outline: none;
}

.options:focus {
  outline: none;
}
.search-options-wrapper {
  border-left: 1px solid rgb(121, 121, 121);
}

.social-bar-wrapper {
  position: fixed;
  right: 10px;
  top: 30%;
  padding: 10px 2px;
  z-index: 999;
}

.social-bar-icon {
  background-color: #de5b10;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 30px;
  margin: 3px 0;
  border-radius: 5px;
  opacity: 0.5;
}

.social-bar-icon:hover {
  background-color: var(--header-bg);
  padding: 5px;
  opacity: 1;
}

/* Home Components Styles Show Categories */
.categories li {
  margin-bottom: 8px;
}

.cat-banner {
  border-radius: 6px;
}

.langOption {
  font-size: 15px;
}

.nav-icon {
  position: relative;
}
.counter {
  position: absolute;
  background-color: black;
  padding: 0 5px;
  border-radius: 10px;
  top: -10px;
  right: 6px;
}

/* Q Source styles  */
.gig-wrapper {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;

  transition: 0.1s ease-in;
}
.gig-image {
  width: 100%;
  height: 10rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gig-wrapper:hover {
  transform: scale(1.02);
}
.gig-img-wrapper {
  background-color: #e5e5e5;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.color {
  color: rgb(80, 198, 49, 1);
}
.gig-bottom {
  background-color: var(--out-sourcing-card-color);
  color: white;
  border-radius: 0 0 10px 10px;
}
.gig-details {
  font-size: 14px;
  line-height: 15px;
}
.gig-level {
  color: gray;
}

/* single gig section  */
.seller-img {
  width: 40px;
  height: 40px;
}

.outsourcing-cart {
  border: 1px solid var(--out-sourcing-card-color);

  /* margin-left: 20px; */
}
.outsourcing-oder-button {
  background-color: var(--out-sourcing-card-color);
}

.package {
  border-bottom: 1px solid var(--out-sourcing-card-color);
  background-color: #fafafa;
}

.package-list h2 {
  border-right: 1px solid var(--out-sourcing-card-color);
  padding-right: 15px;
}
.package div h2:last-child {
  border-right: none;
}

/* Show Courses Styles  */

/* Extra styles  */
.q-color {
  color: var(--q-color);
}

/* Trainer styles  */

.institute-cards:hover {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 149, 0.705),
    var(--header-bg)
  ) !important;
  color: black !important;
}

.nid-trainer {
  background-color: white;
}

/* offers of home  */
.offer-detail-text {
  font-size: 12px;
}

/* Show Cart items */
.cart-product-img {
  width: 50px;
  height: 60px;
  object-fit: cover;
  border: 2px solid gray !important;
}

/* otw ads styles  */

.ad-img-wrapper {
  width: 25rem;
  z-index: 9999;
  position: fixed;
  top: 50px;
}
.ad-bg {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
  opacity: 0;
  opacity: 0.6;
  transition: 0.3s ease;
}

.cross-ads {
  width: 30px;
  position: absolute;
  right: 0;
  margin: 5px;
  cursor: pointer;
}

/* traning  */

.training-page-section {
  background: var(--secondary-bg-color);
}

.traning-upcoming {
  cursor: pointer;
  padding: 5px 15px;
  background-color: rgb(63, 145, 42);
  color: white;
  border-radius: 8px;
}
.traning-Finished {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #1c2abd;
  color: white;
  border-radius: 8px;
}
.training-bg {
  background-image: url(/src/images/banner/tranning.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  padding: 80px 00px;
}

/* returns  */
.return-text {
  text-align: justify;
}
.cart-button {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--header-bg);
  color: white;
  border-radius: 5px;
  padding: 0px 8px;
}
.cart-button:hover {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  color: black;
  border: 1px solid var(--header-bg);
  border-radius: 5px;
  padding: 0px 8px;
}

/* sponsorship section start */

.sponsorship-section .sponsor-img-box {
  width: 100%;
  height: 400px;
  position: relative !important;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s linear;
  cursor: pointer;
  background: #fff;
  box-shadow: rgb(99 99 99 / 20%) 0px 1px 5px 0px;
}

.sponsorship-section .sponsor-img-box img {
  max-width: 100% !important;
  object-fit: contain;
}
.sponsorship-section .sponsor-img-box:hover {
  transform: scale(1.1);
}

/* memories section start */

.memories-box-wrapper {
  background: #fff;
  padding: 19px 19px;
  border-radius: 12px;
}
.memories-section .memories-img-box {
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: relative !important;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s linear;
  box-shadow: rgb(99 99 99 / 20%) 0px 1px 5px 0px;
  cursor: pointer;
}

/* .memories-section .memories-img-box:hover {
  transition: all 3s linear;
  transform: scale(1.1);
} */

.memories-section .sponsor-img-box img {
  max-width: 100% !important;
}
.memories-box-wrapper .description {
  font-size: 0.91rem;
}

/* announcement section start */

.announcement-section .announcement-img-box {
  width: 100%;
  height: 400px;
  position: relative !important;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s linear;
  cursor: pointer;
  background: #fff;
  box-shadow: rgb(99 99 99 / 20%) 0px 1px 5px 0px;
  padding: 5px;
}

.announcement-section .announcement-img-box img {
  max-width: 100% !important;
  /* object-fit: contain; */
}
.sponsorship-section .announcement-img-box:hover {
  transform: scale(1.1);
}

/* queens tale */

/* .demo-book {
  width: 500px;
  height: 550px;
} */

.prev-next-btn {
  border: 0px;
  background: #747474;
  color: #fff;
  border-radius: 4px;
  padding: 4px 7px;
  font-size: 0.9rem;
}
